---
import "../styles/global.css";
import MainPage from "../components/main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<head>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">
  <meta charset="utf-8" />
  <title>tokki commissions :o)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.svg" />
</head>

<body class="bg-checkerboard min-h-screen flex flex-col">
  <main>
  <Header />
    <MainPage />
  </main>
  <Footer />
</body>
