---
import "../styles/global.css";
import TermsModal from "../components/TermsModal.astro";
---

<html lang="en">
  <head>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>tokki commissions :o)</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body class="bg-checkerboard min-h-screen flex flex-col items-center justify-center relative p-4">
    <TermsModal />
    <h1 class="text-4xl p-8 z-0">penits</h1>
  </body>
</html>
