---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>tokki commissions :o)</title>
  </head>
  <body class="bg-checkerboard min-h-screen">
    <h1 class="text-4xl p-8">penies</h1>
  </body>
</html>
