---
import "../styles/global.css";
import "../styles/colors.css";
---



<header class="site-header">
  <div class="header-content">
    <h1>tokki commissions ;p</h1>
  </div>
</header>

<style>
  .site-header {
    background-color: var(--color-bg);
    color: white;
    padding: 1rem 1rem;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
	color: var(--color-text);
  }

  .header-content h1 {
    margin: 0;
    font-size: 1.5rem;
	color: var(--color-text);
  }
</style>
